@{
    var info = ViewData["info"] as Project.Models.information;
}

<section id="blogs">
    <div class="bg mt-5">
        <h1 class="p-4">Blogs</h1>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="~/photos/v1.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Leadership in logistics: Tips for freight brokers managing teams</h2>
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Truckers and trade associations opposed to the idea of speed limiters</h2>


            </div>
            <div class="col-md-6">
                <img src="~/photos//14.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v3.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Prospecting on social media for freight brokers</h2>

            </div>
            <div class="col-md-6">
                <h2 class="p-5">House Transporting Leaders Call for Truck Parking Funding</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v4.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v5.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Cold calling as a sales technique for freight brokers          </h2>

            </div>
            <div class="col-md-6">
                <h2 class="p-5">Tips to help you get the most out of your heavy hauling experience</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v6.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v7.png" class="w-75">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">H&W DNA: Peace of mind</h2>

            </div>
            <div class="col-md-6">
                <h2 class="p-5">Rising diesel costs are straining U.S. truckers, shipping operations</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v8.png" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v9.png" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Demand for truckers keeps CDL schools busier than ever</h2>
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Transportation tips for clients that have goods that need to be taken care of.</h2>

            </div>
            <div class="col-md-6">
                <img src="~/photos/v10.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v11.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Top 3 Ways H&W Can Help Your Move Go Smoothly</h2>

            </div>
            <div class="col-md-6">
                <h2 class="p-5">Every trucker need to know these 3 things about dispatching</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v12.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v13.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Everything to know about weigh stations</h2>
            </div>
            <div class="col-md-6">
                <h2 class="p-5">CDL Age requirements: A quick guide to truck driver age limits</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v14.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v15.jpeg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Five things you need to know before moving heavy equipment</h2>
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Sleep tips to fall asleep quick + easy</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v16.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/6.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">h&w MAKES SURE EVERY DRIVER DELIVER YOUR GOODS IN PERFECT CONDITIONS</h2>
            </div>
            <div class="col-md-6">
                <h2 class="p-5">WHEN TRYING TO HELP AT ACCIDENT SCENE CAN HARM YOU</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v18.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <img src="~/photos/v19.jpg" class="w-100">
            </div>
            <div class="col-md-6">
                <h2 class="p-5">Trends of emerging fleets</h2>
            </div>
            <div class="col-md-6">
                <h2 class="p-5">7 Things you need to know about your first year as a new trucker driver</h2>
            </div>
            <div class="col-md-6">
                <img src="~/photos/v20.jpg" class="w-100">
            </div>
        </div>
    </div>
    <div class="mt-4 bg text-white text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="p-4">
                    <h1>You call, We haul, That’s All!</h1>
                    <a asp-action="Contact" asp-controller="Home">
                        <button class="btn btn-danger">contact us</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h3>site map</h3>
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Individual Funding</a></li>
                    <li><a asp-action="Services" asp-controller="Home">Services</a></li>
                    <li><a asp-action="About" asp-controller="Home">About Us</a></li>
                    <li><a asp-action="Career" asp-controller="Home">Careers</a></li>
                    <li><a asp-action="Blog" asp-controller="Home">Blog</a></li>
                    <li><a asp-action="Contact" asp-controller="Home">contact us</a></li>


                </ul>
            </div>
            <div class="col-md-4">
                <h3>Connect with Us</h3>
                <h6>address:@info.Street</h6>
                <h6><i class="fa-solid fa-phone"><a href="tel:+1 (213) @info.Phone" style="color:black"><strong>+1 </strong>@info.Phone</a></i></h6>

            </div>
        </div>
    </div>
</section>